.footer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 92px 48px 24px 48px;
    align-items: center;
    max-height: 18px;
    max-width: 1184px;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 88px 24px 24px 24px;
    }
}

@media screen and (max-width: 420px) {
    .footer {
        padding: 63px 16px 24px 16px;
        box-sizing: content-box;
        flex-direction: column;
        min-height: 310px;
        align-items: flex-start;
        justify-content: space-between;
    }
}